.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.dropdown-item i {
  padding-right: 15px;
}

.dropdown img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.dropdown a {
  display: inline;
}
